/* Style pour faculte Jean Monnet, service recherche */

BODY { font-size: 100%; font-family: sans-serif; }
/* #centre { width: 80%; margin-left:80px; } */
H1, H2 { display: table; margin: auto; color:#138f69; }

DIV.entete {
    margin: 30px;
    text-align: justify;
}

DIV#main {
    margin: 20px;
}

TABLE.titre, H3.date, H3.sstitre, P.lieu { display: table; margin: auto; }
TABLE.titre { margin-bottom: 20px; }
TABLE.titre TD { padding: 20px; }
TABLE.titre TD.logo { padding: 0 ; vertical-align: middle; }
TABLE.titre H1, H3.sstitre { font-variant: small-caps; }
TABLE#onglets { margin: 20px; border-spacing: 15px; border-collapse: separate; }
TABLE#onglets TD { border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; padding: 8px 16px; }
TABLE#onglets A { text-decoration: none; }
TABLE#onglets A:hover { font-style: italic; background-color: aliceblue; }
TABLE CAPTION { margin-bottom: 20px; padding: 15px; text-align: center; width: 80%; }

P.lieu, P.dateinscr { font-size: 150%; }
P.dateinscr { font-style: italic; }
FIELDSET {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color:#F8F8F8;
    width: 85%;
    padding: 20px;
    border: 1px solid #F2F2F2;
}
LABEL { margin-left: 10px; }
LEGEND, CAPTION {
    color: #6893c4;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    border: 1px solid #696968;
    margin-bottom: 0;
    background-color:#F2F2F2;
}

SPAN.forminput {
    margin: 10px;
    white-space: nowrap;
}
SPAN.mandatory { color: red; }
SPAN.descriptionchamp { padding-left: 5px ; } /*  font-style: italic; */
SPAN.descriptionchamp A { text-decoration: None ; font-weight: bold ; color: darkorange ; } /*#e57e00 ? */
INPUT {
    margin-top: 10px;
    margin-left: 10px;
}
/* INPUT.ng-invalid.ng-touched { background-color: #FA787E; }
INPUT.ng-valid.ng-touched { background-color: #78FA89; } */

UL.index_events > LI {
    margin: 20px 10px;
}

DIV.buttonbar {
    text-align: center;
    display: table;
    margin: auto;
}

DIV.footnotes {
    font-style: italic;
    font-size: 90%;
    text-align: right;
    margin: 20px;
}

/* page d'administration */

HR {
    margin-top: 20px;
    margin-bottom: 10px;
}

TABLE {
    margin-top : 20px;
    margin-left : 10px;
}

TR > TH {
    padding: 5px;
    text-align: center;
}
TR > TD {
    border: 1px solid black;
    border-collapse: collapse;
    /* border: inset 1px; */
    padding: 5px;
    /* color: purple; */
    background-color: #f4f4f4;
}
TABLE.titre TD { border: 0; }

TD.statut { font-style: italic; }

TD.check { background-color: #ffff66; }

SPAN.comment {
	/* color:#009999; */
    font-style: italic;
    margin-top: 4px;
    margin-left: 20px;
}

UL.checkbox {
    list-style-type: none;
    display: inline;
}

/* Ajouts 2012+2017 */
H3 {color: #696968; }
A, LEGEND, .h2g A, .h2g A:visited, A:link, A:hover, H1 { color: #003A64; }

/* Page de vérification */
P.good, P.bad { font-size:300%; }
P.good { color:green; }
P.bad { color:red; }
SPAN.smilie { font-size:200%; font-weight:bold;}

/* Mises au point pour les smartphones
cf https://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html
*/
@media (max-width: 640px) {
  * { box-sizing: border-box; }
  /* passer body (et tous les éléments de largeur fixe) en largeur automatique + message d'information */
  body { width: auto; margin: 0; padding: 0; }
  body:before { content: "Version « mobile »"; display: block; text-align: center; font-style: italic; color: #777; }
  /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
  img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100%; }
  /* conserver le ratio des images */
  img { height: auto; }
  /* gestion des mots longs */
  textarea, table, td, th, code, pre, samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
  }
  h1, h2 { font-size: 100% }
  code, pre, samp { white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */ }
  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
  /* .element1, .element2 { float: none; width: auto; } */
  /* masquer les éléments superflus */
  /* .hide_mobile { display: none !important; } */
}
