<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="entete">
  <table class="titre"><tr>
    <td class="logo"><a name="URL institution" href="{{ url0 }}"><img alt="logo institution" src="{{ url_for('static', filename=logofilename0) }}" /></a></td>
    <td><h1>{{ gettext('Inscription à&nbsp;:') }} <a href="{{ lienevt }}">{{ evenement.titre }}</a></h1></td>
    {% if logofilename %}<td class="logo"><a name="URL événement" href="{{ lienevt }}"><img alt="logo événement" src="{{ url_for('static', filename=logofilename) }}" /></a></td>{% endif %}
  </tr></table>
      {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
      <h3 class="date">{% if evenement.date_fin and evenement.date_fin != evenement.date %}{{ evenement.date | datedebut(evenement.date_fin, "d MMMM YYYY") }} au {{ evenement.date_fin | localedate("d MMMM YYYY") }}{% else %}{{ evenement.date | localedate("d MMMM YYYY") }}{% endif %}</h3>
      <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}{{ lieu_par_defaut }}{% endif %}</p>
      <br/>
      {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}
      <p class="dateinscr">{{ gettext('Ce formulaire est ouvert du') }} {{ formulaire.date_ouverture_inscriptions | localedate("d MMMM") }} {{ gettext('au') }} {{ formulaire.date_cloture_inscriptions | localedate("d MMMM") }}</p>
      {% if current_user in evenement.organisateurs %}<p>
      {% if current_user.role == 'admin' %}<a href="/admin/formulaire/edit/?url=%2Fadmin%2Fformulaire%2F&amp;id={{ formulaire.id }}">
      {% else %}<a href="{{ url_for('suivi', evt=evenement.id)}}">{% endif %}
      {{ gettext('Modifier ce formulaire') }}</a></p>{% endif %}
</div>

<section data-ng-controller="flformCtrl">
  <form action="" method="post" id="flform" name="flform">
    {{ form.csrf_token }}
    <input type="hidden" name="speaker" value="{{ speaker }}" />
  <fieldset><legend accesskey="c">{{ gettext('Vos coordonnées') }}</legend>
  {{ gettext('Nom') }} <input type="text" name="nom" data-ng-model="personne.nom" required="" data-ng-change="cbadge1()" data-ng-blur="chkemail()" {% if speaker %} value="{{ intervenant.nom }}" {% endif %} /><br />
  <div data-ng-show="flform.$submitted || flform.nom.$touched">
    <span data-ng-show="flform.nom.$error.required">{{ gettext('Merci d\'indiquer votre nom') }}</span>
  </div>
  {{ gettext('Prénom') }} <input type="text" name="prenom" data-ng-model="personne.prenom" data-ng-change="cbadge1()" data-ng-blur="chkemail()" {% if speaker %} value="{{ intervenant.prenom }}" {% endif %}/><br /><br />
  <span data-ng-show="(personne.nom && personne.nom.length > 26) || (personne.nom && personne.prenom && ((personne.prenom + personne.nom).length > 26))" class="descriptionchamp">{{ gettext('Attention, pour le badge, prénom + nom = 26 caractères max.') }}</span>
  <pre><em>{{ gettext('Sur votre badge&nbsp;:') }}</em> <input type="text" size="27" maxlength="27" name="badge1" data-ng-model="badge1" /></pre>
  {{ gettext('Email') }} <input type="email" name="email" data-ng-model="personne.email" required="" data-ng-blur="chkemail()" {% if speaker %} value="{{ intervenant.email }}" {% endif %} /><br />

    <div data-ng-show="flform.$submitted || flform.email.$touched">
      <span data-ng-show="flform.email.$error.required">{{ gettext('Merci d\'indiquer votre adresse électronique') }}</span>
      <span data-ng-show="flform.email.$error.email">{{ gettext('Cette adresse n\'est pas valide') }}</span>
      <span data-ng-show="msg_dejainscrit">[[ msg_dejainscrit ]]</span>
      <span data-ng-show="duplicateemail">{{ gettext('Cette adresse a déjà été utilisée sur le logiciel. Est-ce bien par vous ? Nous vous proposons de vous envoyer un mail pour vérifier. Pour cela, veuillez cliquer sur ce bouton&nbsp;:') }}<input type="button" data-ng-click="envoi_email_verification()" value="{{ gettext('Envoyez-moi un email pour vérifier mon adresse, merci !') }}" /></span>
      <span data-ng-show="personne.emailsent"><em>{{ gettext('Veuillez fournir ici le code que vous venez de recevoir par mail (4 chiffres)&nbsp;:') }}</em> <input type="text" data-ng-model="personne.codeverif" /> <input type="button" data-ng-click="verifier_code()" value="{{ gettext('Vérifier le code') }}"/></span>
      <span data-ng-show="personne.codeok">{{ gettext('Merci !') }}</span>
      <span data-ng-show="personne.codeko">{{ gettext('Nous sommes désolé⋅e⋅s, le code ne correspond pas. Veuillez utiliser une autre adresse email.') }}</span>
    </div>
  {{ gettext('Téléphone') }} <input type="text" name="telephone" data-ng-model="personne.telephone" {% if speaker %} data-ng-init="setspeaker()" {% endif %}/><br />
  </fieldset>

  <fieldset><legend accesskey="e">{{ gettext('Votre entreprise / Institution') }}</legend>
  {{ gettext('Organisation') }} <input type="text" name="organisation" data-ng-model="personne.organisation" required="" data-ng-change="cbadge2()" /><br />
  <div data-ng-show="flform.$submitted || flform.organisation.$touched">
    <span data-ng-show="flform.organisation.$error.required">{{ gettext('Merci d\'indiquer votre organisation') }}</span>
  </div>
  {{ gettext('Fonction') }} <input type="text" name="fonction" data-ng-model="personne.fonction" data-ng-change="cbadge2()"/><br /><br />
  <div data-ng-show="flform.$submitted || flform.fonction.$touched">
    <span data-ng-show="flform.fonction.$error.required">{{ gettext('Merci d\'indiquer votre fonction') }}</span>
  </div>
  <span data-ng-show="(personne.fonction && personne.fonction.length > 32) || (personne.organisation && personne.organisation.length > 32) ||(personne.fonction && personne.organisation && ((personne.fonction + personne.organisation).length > 32))" class="descriptionchamp">{{ gettext('Attention, pour le badge, fonction + organisation = 32 caractères max.') }}</span>
  <pre><em>{{ gettext('Sur votre badge&nbsp;:') }}</em> <input type="text" size="33" maxlength="33" name="badge2" data-ng-model="badge2" /></pre>
  </fieldset>

  {% from "_formhelpers.html" import render_field, render_cblist with context %}

  {% if speaker %}<fieldset><legend accesskey="m">{{ gettext('Votre intervention') }}</legend>
  {{ render_field(form.besoin_materiel) }}</fieldset>
  <fieldset><legend accesskey="v">{{ gettext('Votre voyage') }}</legend>
  <h4>{{ gettext('Aller') }}</h4> {{ render_field(form.transport_aller) }} {{ render_field(form.ville_depart_aller) }} {{ render_field(form.horaire_depart_aller) }}
  <br/><h4>{{ gettext('Retour') }}</h4> {{ render_field(form.transport_retour) }} {{ render_field(form.ville_arrivee_retour) }} {{ render_field(form.horaire_depart_retour) }}</fieldset>
  <fieldset><legend accesskey="v">{{ gettext('Votre séjour') }}</legend>
  {% if evenement.nuits %}{{ render_cblist(gettext('Nuits à réserver'), form.nuits, evenement.nuits) }}{% endif %}
  {% if evenement.jours %}{{ render_cblist(gettext('Repas à réserver'), form.repas, evenement.jours) }}{% endif %}
  </fieldset>

  {% else %}<fieldset><legend accesskey="p">{{ gettext('Votre participation') }}</legend>
    {% if formulaire.jour_par_jour or evenement.recurrence %}
    {{ render_cblist(gettext('Vos jours de présence'), form.jours_de_presence, evenement.jours) }}
    {% endif %}
  {% if formulaire.champ_attestation %}{{ render_field(form.attestation_demandee) }}{% endif %}
  {% if formulaire.champ_type_inscription %}{{ render_field(form.type_inscription) }}{% endif %}
  {% if formulaire.champ_restauration_1 %}{{ render_field(form.inscription_repas_1) }}{% endif %}
  {% if formulaire.champ_restauration_2 %}{{ render_field(form.inscription_repas_2) }}{% endif %}
  </fieldset>{% endif %}

<div class="buttonbar">
  <input type="button" data-ng-click="reset()" value="{{ gettext('Réinitialiser') }}" />
  <input type="submit" name="submit" accesskey="z" tabindex="20" value="{{ gettext('Envoyer') }}" />
</div>
</form>
</section>

<div class="footnotes">
<!-- p><span class="mandatory">*</span> Champ obligatoire</p -->
<p>{{ gettext('Contact pour l\'inscription&nbsp;:') }} {{ email_orga }}</p>
<p>{{ gettext('Contact pour ce site&nbsp;:') }} {{ email_site }}</p>
</div>

{% endblock %}
